In [9]:
import os
os.getcwd()

'c:\\Users\\DKG\\Desktop\\InsurancePremiumPrediction'

In [5]:
os.chdir('../')
os.getcwd()
os.chdir('c:\\Users\\DKG\\Desktop\\InsurancePremiumPrediction')

'c:\\Users\\DKG'

In [10]:
from insurance.exception import CustomException

ModuleNotFoundError: No module named 'insurance'

In [6]:
import pandas as pd
df = pd.read_csv(r'C:\Users\DKG\Desktop\InsurancePremiumPrediction\insurance.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   expenses  1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [1]:
from src.insurance.logger import logging
from src.insurance.exception import CustomException
from src.insurance.constant.training_pipeline import SCHEMA_FILE_PATH
from src.insurance.entity import DataValidationConfig
from src.insurance.entity.artifact_entity import DataIngestionArtifact, DataValidationArtifact
from src.insurance.utils.main_utlls import read_yaml_file,write_yaml_file
from distutils import dir_util
from scipy.stats import ks_2samp
import pandas as pd
import sys,os

In [2]:
class DataValidation:
    def __init__(self,data_ingestion_artifact:DataIngestionArtifact,
                 data_validation_config:DataValidationConfig) :
        try:
            self.data_validation_config = data_validation_config
            self.data_ingestion_artifact = data_ingestion_artifact
            self._schema_config = read_yaml_file(SCHEMA_FILE_PATH)
        
        except Exception as e:
            raise CustomException(e,sys)

In [3]:
def is_numerical_columns_present(self,dataframe:pd.DataFrame) -> bool:
        try:
            numerical_columns = self._schema_config['numerical_columns']
            dataframe_columns = dataframe.columns

            all_numerical_columns_present = True
            missing_numerical_columns = []

            for num_column in numerical_columns:
                if num_column not in dataframe_columns:
                    all_numerical_columns_present = False
                    missing_numerical_columns.append(num_column)

            logging.info(f"Missing numerical columns: [{missing_numerical_columns}]")

            return all_numerical_columns_present

        except Exception as e:
            raise CustomException(e,sys)

In [10]:
sch_file = read_yaml_file(file_path=r"C:\Users\DKG\Desktop\InsurancePremiumPrediction\config\schema.yaml")

In [11]:
sch_file

{'columns': [{'sex': 'object'},
  {'bmi': 'float64'},
  {'children': 'int64'},
  {'smoker': 'object'},
  {'region': 'object'},
  {'expenses': 'float64'}],
 'numerical_columns': ['bmi', 'children', 'expenses'],
 'categorical_columns': ['sex', 'smoker', 'region']}

In [12]:
sch_file['numerical_columns']

['bmi', 'children', 'expenses']

In [13]:
pd.read_csv(r"C:\\Users\DKG\Desktop\\InsurancePremiumPrediction\\artifacts\\11_21_2023_22_36_27\\data_ingestion\\ingested\\test.csv")

     age     sex   bmi  children smoker     region  expenses
0     40    male  25.1         0     no  southeast   5415.66
1     18  female  21.7         0    yes  northeast  14283.46
2     64    male  37.0         2    yes  southeast  49577.66
3     58    male  35.7         0     no  southwest  11362.76
4     44  female  26.4         0     no  northwest   7419.48
..   ...     ...   ...       ...    ...        ...       ...
263   32    male  35.2         2     no  southwest   4670.64
264   40  female  41.4         1     no  northwest  28476.73
265   44    male  31.4         1    yes  northeast  39556.49
266   48    male  30.2         2     no  southwest   8968.33
267   44    male  27.4         2     no  southwest   7726.85

[268 rows x 7 columns]

In [1]:
import numpy as np

In [2]:
import numpy as np
# creating arrays
myarray1 = np.array([1, 2, 3])
myarray2 = np.array([4, 5, 6])

In [3]:

# using the numpy.c_ 
myarray = np.c_[myarray1, myarray2]
print(myarray)

[[1 4]
 [2 5]
 [3 6]]